<%- include('partials/header') -%>
<body>
   
      
                   
      
                    <div class="form-outline form-white mb-5">
                      
                      <a href="/login" class="col-3 btn btn-primary"> Login</a>
                    </div>
      
                    <div class="form-outline form-white mb-5">
                        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
                    </div>
      
                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
      
                    
      
      
                  </div>
      
                 
      
             

<!-- <main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main> -->
</body>


    

<%- include('partials/footer') -%>